fhc-debug.log
.DS_Store
.idea/
node_modules/
documentation/
tmp/*
*~
*.swp
.fhclocal/
dist/
libs/generated/lawnchair.js
test/sync/testServer
src/modules-cov/*
src-cov/*
test/browser/browserified_tests.js
test/browser/fh-sync-latest-require.js
test/browser
*.log